a{
  color: #fff;
  text-decoration: none;
}

.container2{
  margin: 0px;
  padding: 0px;
  color: #fff;
  background: #000;
  font-family: "Impact";
  /* 下記2行で、h2をｽｸﾛｰﾙ固定化 */
  position: sticky;
  top: 0;
}

table{
  border: solid 3px #000;
}

.choise{
  border: solid 1px #fff;
  display:inline-block;
  font-size: 20px;
}

button.button1{
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #248;
  color: #fff;
  border-style: none;
  border-radius: 5px;
}

button.button1:hover{
  background-color: #24d;

  color: #fff;
}

h2{
  margin: 0px;
  padding: 10px 0px 10px;
  color: #fff;
  background: #000;
  font-family: bold;
  /* 下記2行で、h2をｽｸﾛｰﾙ固定化 */
  position: sticky;
  top: 0;
}
.prediction{
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.prediction:before, .prediction:after{
content: '';
position: absolute;
top: -7px;
width: 2px;
  height: -webkit-calc(100% + 14px);
height: calc(100% + 14px);
background-color: black;
}
.prediction:before {left: 7px;}
.prediction:after {right: 7px;}

h6{
  margin: 0px;
  padding: 10px 0px 10px;
  color: #fff;
  background: #000;
  font-family: bold;
  /* 下記2行で、h2をｽｸﾛｰﾙ固定化 */
  position: sticky;
  top: 0;
  align:"left";
}

p.p1{
  padding: 1em;
  /* color: #494949; */
  color: #000;
  background: #fffaf4;
  border-left: solid 5px #ffaf58;
  font-size:1.4em;
}
p.p2{
  padding: 0.5em;
  color: #494949;
  background: #fffaf4;
  border-left: solid 5px #ffaf58;
  font-size:1.4em;
}



.container{
  margin-left:auto;
  margin-right: auto;
}

.title{
  padding: 0 0 0 10px;
  border-left: solid 5px #ffc400
}

.section{
  width:100%;
  background-color: #fff;
  border: 1px solid #efefef;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  margin: 0 auto 20px;
}

.m-y30{
  margin: 10px auto;
}

.udbox{
  display: table-cell;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  padding: 0px 12px;
  background-color: #da0000;
  white-space: nowrap;
  border-radius: 2px;
}

.pre-price{
  font-size: 22px;
  font-weight: 600;
  color:#da0000;
}

.today{
  display: table-cell;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  padding: 0px 12px;
  background-color: #c0c0c0;
  white-space: nowrap;
  border-radius: 2px;
}

.today-price{
  font-size: 22px;
  font-weight: 600;
  color:#da0000;
}

.chart{
  display: table-cell;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  padding: 0px 12px;
  background-color: #c0c0c0;
  white-space: nowrap;
  border-radius: 2px;
}

.img{
  margin-left: auto;
  margin-right: auto;
}
