{% extends "base.html"%}
{% block title%}SMPUL(Stock Market Prediction Using LSTM){% endblock %}
{% load staticfiles%}

{% block body %}

<div class="container2">
  <h2>制御部ワールドカップ2018</h2>
</div>

<h1>大会要項</h1>
<ul id="gmenu">
  <li>HOME</li>
  <li>大会情報</li>
  <table class="table table-bordered table-striped">
    <tbody>
      <!-- 銘柄名 -->
      <tr>
          <td>大会日程</td>
          <td>8月4日 13時集合、13時30分 ｷｯｸｵﾌ</td>
      </tr>
      <tr>
          <td>ルール</td>
          <td>7:7のハーフサッカー。</td>
      </tr>
    </tbody>
  </table>
  <li>参加選手</li>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Position</th>
        <th>Features</th>
      </tr>
    </thead>
    <tbody>
      <!-- 銘柄名 -->
      <tr>
        <th scope="row">1</th>
          <td>D.Takahashi</td>
          <td>FW</td>
          <td>中堅チームを支えるキャプテン。個性豊かな中堅チームを手堅くまとめ、大会初優勝を狙う。
            個としての力も超一流で、あのモドリッチが「エムバペとポクバとグリーズマンを足して３で割ったような
            男さ。彼がいたら、ワールドカップでも優勝できたかもね」と評するほど。今大会でも、伝家の宝刀「無回転シュート」
            は炸裂するか。
      </tr>
      <tr>
        <th scope="row">2</th>
          <td>S.Yamamoto</td>
          <td>FW</td>
          <td>中堅チームをけん引する若きエース。トップスピードまでにかかる時間はわずか0.3秒。
            通称ロケットマン。一旦、力が爆発すると、止められるものはいないだろう。
      </tr>
      <tr>
        <th scope="row">3</th>
          <td>D.Ichikawa</td>
          <td>MF</td>
          <td>中堅チームの司令塔。チーム内で最高齢であり、若手育成に余念がない。
            モットーは「ほめて育てる」。ミスをしても決して怒らず、的確なアドバイスを与え、そして
            決めゼリフ「ふふっ、やるやん！」を放つ。彼がいなくては、中堅チームは崩壊するだろう。
      </tr>
    </tbody>
  </table>
</ul>

{% endblock %}
