{% extends "base.html"%}
{% block title%}SMPUL(Stock Market Prediction Using LSTM){% endblock %}
{% load staticfiles%}

{% block body %}

<div class="container2">
  <h2><a href="">日系株価 AI予想</a></h2>
    <!-- <div class="choise"><a href="">S&P500</a></div> -->
    <div class="choise"><a href="nikkei">Nikkei</a></div>
    <!-- <div class="choise"><a href="https://www.jfe-holdings.co.jp/">LSTM</a></div> -->
    <!-- <div class="choise"><a href="if">World Cup</a></div> -->
</div>


{% endblock %}
