{% extends "base.html"%}
{% block title%}SMPUL(Stock Market Prediction Using LSTM){% endblock %}
{% load staticfiles%}

{% block body %}

<div class="container2">
  <h2><a href="../">日系株価 AI予想</a></h2>
    <!-- <div class="choise"><a href="../">S&P500</a></div> -->
    <div class="choise"><a href="">Nikkei</a></div>
    <!-- <div class="choise"><a href="https://www.jfe-holdings.co.jp/">LSTM</a></div> -->
    <!-- <div class="choise"><a href="../if">World Cup</a></div> -->
</div>

<div class="container">
  <h3 class=prediction>Nikkei Prediction</h3>
</div>

<form action="" method="get">
  <div class="container">
    <p>{{message}}</p>
    <p>IF you want to rise the accuracy, please input over 100 in Epoch Number</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Hyperparametes</th>
          <th>Select or Input</th>
          <th>Be chosen</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <!-- 市場名あんど銘柄名 -->
        <tr>
          <th scope="row">2</th>
            <td>Brand Nomber</td>
            <td>
              <input type="text" name="your_name" value="5411">
            </td>
            <td>{{form.your_name.value}}</td>
            <td><a href="http://www.morningstar.co.jp/StockInfo/sec/list?code=1000">Brand Number List</a></td>
        </tr>
        <!-- ｴﾎﾟｯｸ数 -->
        <tr>
          <th scope="row">3</th>
            <td>Epoch Number</td>
            <td> <input type="text" name="epoch_number" value="3"></td>
            <td>{{form.epoch_number.value}}</td>
            <td>Iteration</td>
        </tr>
        <!-- ﾃﾞｰﾀ収集開始日 -->
        <tr>
          <th scope="row">4</th>
            <td>Starting Date</td>
            <td><input type="date" name="s_date" value="2018-01-01"></td>
            <td>{{form.s_date.value}}</td>
            <td>Scrayping from Morningstar</td>
        </tr>
        <!-- ﾃﾞｰﾀ収集終了日 -->
        <tr>
          <th scope="row">5</th>
            <td>End Date</td>
            <td><input type="date" name="e_date" value="2018-07-17"></td>
            <td>{{form.e_date.value}}</td>
            <td>Scrayping from Morningstar</td>
        </tr>
        <!-- ﾊﾞｯﾁｻｲｽﾞ -->
        <tr>
          <th scope="row">6</th>
            <td>batchsize</td>
            <td><input type="text" name="batch" value="20"></td>
            <td>{{form.batch.value}}</td>
            <td>batchsize</td>
        </tr>
        <!-- trainﾃﾞｰﾀ比率 -->
        <tr>
          <th scope="row">6</th>
            <td>ratio</td>
            <td><input type="text" name="ratio" value="0.8"></td>
            <td>{{form.ratio.value}}</td>
            <td>0＜train_Ratio＜1</td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="button1">EXECUTE</button>
  </div>
</form>

<div class="container">
  <h3 class="title"> Nikkei Tommorows AI Prediction</h3>
  <div class="section">
    <div class="m-y30">
      <div class="udbox">THE NEXT DAY of {{form.e_date.value}} Prediction</div>
      <p class="pre-price">￥{{y}}</p>
      <div class="today">{{form.e_date.value}} Close Price</div>
      <p class="today-price">￥{{t}}</p>
      <div class="chart">Stock Price Graph(Brand:{{form.your_name.value}},Period:{{form.s_date.value}}→{{form.e_date.value}})</div>
      {% load static%}
      <img src="{%static "fig.png"%}">
    </div>
  </div>
</div>
  <h6 align="right">(c)Fuku All Rights Reserved.</h6>
{% endblock %}
